/* ==============FONT IMPORT Inter ==============*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:ital,wght@0,700;1,400&display=swap");

/* -------------------------------- */
/* ----------GENERAL---------- */
/* -------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  text-decoration: none;
  list-style: none;
}

*:focus {
  outline: none;
}

body {
  width: 100%;
  background: #f8f0e9;
  position: relative;
  font-family: "Inter", sans-serif;
}

.header {
  /* max-width: 130rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f0e9;
  height: 15rem;
  padding: 0 4.8rem;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 15rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.main {
  width: 100%;
  /* max-width: 130rem; */
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  margin-top: 15rem;
}

/* -------------------------------- */
/* ----------TOPBAR---------- */
/* -------------------------------- */

.wrapper {
  width: 100%;
  /* max-width: 130rem; */
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5rem;
}

.logo-box {
  height: 80%;
  aspect-ratio: 1/1;
  margin: 1rem;
}

.logo-box #menu-btn {
  position: absolute;
  top: 50%;
  right: 0;
  color: #bc6c25;
  font-size: 5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.logo-img {
  height: 100%;
}

.user-profile {
  height: 100%;
  aspect-ratio: 1/1;
  position: relative;
  background-size: cover;
  margin: 0 5rem;
  font-size: 3rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.user-profile p {
  font-size: 3rem;
  margin-right: 5rem;
  padding: 1rem;
}

.user-profile img {
  width: 7rem;
  height: 7rem;
  border: 1px solid #bc6c25;
  border-radius: 50%;
  margin-right: 2rem;
}

/* -------------------------------- */
/* ----------MAIN---------- */
/* -------------------------------- */
.main-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 6fr 1fr;
  grid-gap: 3rem;
  margin-top: 15rem;
}
/* ----------SIDEBAR---------- */
.left-col {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-col .nav-items {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 10rem;
  font-size: 5rem;
  color: #283618;
  font-weight: 700;
  padding-left: 4rem;
  transition: all 0.3s ease;
}

.left-col .nav-items i {
  margin-right: 3rem;
}

.left-col .nav-items:hover {
  padding-left: 5rem;
}

.left-col .nav-items.active {
  color: #bc6c25;
}

/* ----------FEEDS---------- */
.middle-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form_container {
  height: 50%;
  width: 100%;
  position: relative;
  margin-top: 20rem;
}

#query {
  width: 70%;
  background: #f8f0e9;
  border: 1px solid #bc6c25;
  border-radius: 5px;
  text-align: center;
  font-size: 3rem;
  margin-right: 0.5rem;
  margin-top: 5rem;
}

#search_button {
  background: #bc6c25;
  border: none;
  color: #f8f0e9;
  padding: 0.5rem 1rem;
  border-radius: 9px;
  font-size: 3rem;
  transition: all 0.3s ease;
}

#search_selector {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5rem;
  border: none;
  background-color: #bc6c25;
  color: #f8f0e9;
  font-size: 3rem;
}

#search_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search_list h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  border: 1px solid #bc6c25;
  border-radius: 5px;
  margin: 2rem;
}

.result img {
  width: 50%;
  left: 0;
  margin: 1rem;
}

.result p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* ----------TRENDING---------- */

.right-col {
  position: fixed;
  padding: 2rem;
}

.suggestion {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0;
}

.profile-card {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-card .profile-pic {
  flex: 0 0 auto;
  padding: 0;
  background: none;
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.profile-pic img {
  width: 5rem;
  height: 5rem;
  border: 1px solid #bc6c25;
  border-radius: 50%;
}

.profile-card .username {
  font-size: 5rem;
  font-weight: 500;
}

/* ----------Below 1200px (small desktop and laptop)---------- */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* ----------Below 960px (tablets)---------- */
@media (max-width: 60em) {
  .main-wrapper .middle-col {
    width: 100%;
  }

  #query {
    width: 50%;
  }

  .main-wrapper .right-col {
    display: none;
  }
}

/* ----------Below 550px (phones )---------- */
@media (max-width: 34em) {
  .main-wrapper {
    display: flex;
  }

  .header {
    height: 7rem;
  }

  .left-col {
    width: 1rem;
  }

  .middle-col {
    margin-left: 1rem;
  }
  .nav-items i {
    font-size: 2rem;
  }

  .nav-items span {
    display: none;
    border: #bc6c25;
  }
}
