/* ==============FONT IMPORT Noto Sans ==============*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&family=Poppins:ital,wght@0,400;1,700&family=Rubik:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: "Noto Sans", sans-serif;
}

/* ==============GENERAL STYLES============== */

.container {
  width: 80%;
  margin: 0 auto;
}

.profile-pic {
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.logo {
  display: flex;
  width: 2.5rem;
  aspect-ratio: 1/1;
  align-items: center;
  gap: 1rem;
}

.logo h2 {
  font-size: 0.9rem;
  color: #fefae0;
}

img {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

/* ==============NAVIGATION============== */
nav {
  width: 100%;
  background: #bc6c25;
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .search-bar {
  background: #fefae0;
  border-radius: 2rem;
  padding: 0.6rem 1remm;
}

nav .search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: #283618;
}

nav .search-bar input[type="search"]::placeholder {
  color: #283618;
}

nav .create-post {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ==============MAIN============== */

main {
  position: relative;
  top: 5.4rem;
}

main .container {
  display: grid;
  grid-template-columns: 15vw auto 10vw;
  column-gap: 2rem;
  position: relative;
}

/* ---------Left side---------*/

main .container .left {
  min-height: 100vh;
  position: sticky;
  top: 5.4rem;
  background-color: #bc6c25;
}

main .container .left .profile {
  padding: 1rem;
  background: #fefae0;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
}

/* ---------Sidebar---------*/

.left .sidebar {
  margin-top: 1rem;
  background-color: #bc6c25;
  border-radius: 1rem;
}

.left .sidebar .menu-item {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
}

.left .sidebar .menu-item:hover {
  background-color: #dda15e;
  color: #ccd5ae;
}

.left .sidebar i {
  font-size: 1.5rem;
  color: #fefae0;
  margin-left: 2rem;
  position: relative;
}

.left .sidebar h3 {
  text-transform: uppercase;
  margin-left: 1.5rem;
  font-size: 1rem;
  color: #fefae0;
}

/* .left .sidebar .active {
  background-color: #dda15e;
} */

.left .sidebar .active::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background-color: #dda15e;
}
